# Code Linear Regression Model from Scratch
## Use Y= P0 + P1 x X1 + P2 x X2 + ... + PN x XN

In [ ]:
import numpy as np
import pandas as pd

#* Note that:
# Y is the target
# P is parameter
# X is a feature

df = pd.read_csv("./dataset.csv")
df

   math_score  physics_score  frensh_score  national
0          12             16            10        15
1          14             15            12        16
2          18             17            14        19
3           9             10             8        12
4          13             14            11        14
5          16             18            15        17
6          11             13             9        13
7          15             14            13        15
8          10             11             7        12
9          17             19            16        18

In [158]:
class RegressionModel:
    def __init__(self):
        self.P_optimal = None

    def fit(self,features,target):
        # calculate optimal params vector
        # P = (XT . X )**(-1) . XT.Y

        P_optimal = np.dot(np.linalg.inv(np.dot(np.transpose(features.to_numpy()),features.to_numpy())) ,np.dot(np.transpose(features.to_numpy()),target.to_numpy()))
        self.P_optimal = P_optimal

    def predict(self,features):
        # calculate Y target
        # P . X
        return round(np.clip(np.dot(self.P_optimal,np.array(features)),0,20),2)

In [159]:
# Data sepration
target = df["national"]
features = df.loc[: ,df.columns != "national"]

model = RegressionModel()
model.fit(features,target)

# (math,physic,frensh)
res = model.predict([10,11,0])

print(f"You will score {res} in the national")

You will score 15.89 in the national